/* Font used for Monogram Allura, can use Alex Brush if needed*/
/* camaro color #444D53*/
/*font-family: 'Allura', cursive;*/
/*font-family: 'Istok Web', sans-serif;*/
/** {*/
/*    border: 1px solid red;*/
/*}*/
body, html {
    background:  #fff;
    font-family: 'Istok Web', sans-serif;
    height:  100%;
    margin: 0;
}

/******* NAVIGATION *******/
.navbar {
    background-color: #FAFAD2;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: smaller;
    line-height: 1em;
}

a {
    color: #5705AD;
}

a:hover {
    color: #87CEFA;
}

a.navbar-brand {
    color: #5705AD ! important;
    font-family: Allura, cursive, sans-serif;
    font-size: 45px;
    margin-top: 10px;
}

a.navbar-brand:hover {
    color: #87CEFA ! important;
}

li.nav-item {
    font-family: Allura, cursive, sans-serif;
    font-size: 2.25rem;
    padding: 25px;
}
/********* END NAVIGATION *********/

/***** JUMBOTRON ANIMATION ******/

.webcoderskull {
    font-size: 0.5em;
}

svg {
    position: absolute;
    width: 100%;
    height:   90.85%;
    background: #000;
    /*background: #4B0082;*/
    background-size: 0.12em 100%;
    font: 16em/1 'Allura', cursive, sans-serif;
}
.webcoderskull-1 {
    fill: none;
    stroke: white;
    stroke-dasharray: 7%, 28%;
    stroke-width: 4px;
    -webkit-animation: stroke-offset  3s infinite;
    animation: stroke-offset  9s  ease-in infinite ;
}
.webcoderskull-1:nth-child(1) {
    stroke: #8A2BE2;
    stroke-dashoffset: 7%;
}
.webcoderskull-1:nth-child(2) {
    stroke: #d61c59;
    stroke-dashoffset: 14%;
}
.webcoderskull-1:nth-child(3) {
    stroke: #e7d84b;
    stroke-dashoffset: 21%;
}
.webcoderskull-1:nth-child(4) {
    stroke: #efeac5;
    stroke-dashoffset: 28%;
}
.webcoderskull-1:nth-child(5) {
    stroke: #1b8798;
    stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
    50% {
        stroke-dashoffset: 30%;
        stroke-dasharray: 0, 72.5%;
    }
}

@keyframes stroke-offset {
    50% {
        stroke-dashoffset: 30%;
        stroke-dasharray: 0, 72.5%;
    }
}
/***** END JUMBOTRON ANIMATION ******/

/*******  ABOUT PAGE ********/
.bg-img-1,
.bg-img-2,
.bg-img-3,
.bg-img-4,
.bg-img-5 {
    position: relative;
    opacity:  0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1 {
    background-image: url("../img/bg13.png");
    min-height: 50%;
}

.bg-img-2 {
    background-image: url("../img/bloo-copy-1.jpg");
    background-position: right;
    min-height:  400px;
}

.bg-img-3 {
    background-image:  url("../img/me-holly-copy-2.jpg");
    background-position: left;
    min-height:  400px;
    opacity: 0.85;
}

/*.bg-img-4 {*/
/*    background-image: url("../img/woman-sitting-copy-1.png");*/
/*    min-height: 400px;*/
/*}*/

.bg-img-5 {
    background-image: url("../img/profile-copy-2.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color:  #d61c59;
}

caption.span.border {
    background-color:  #111;
    padding:  15px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-left:  76px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #111;
    font-family: 'Allura', cursive;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bg-img-1, .bg-img-2, .bg-img-3, .bg-img-4, .bg-img-5 {
        background-attachment: scroll;
    }
}

.about-page {
    color: #5705AD;
    font-size: 3em;
    letter-spacing: 5px;
    text-transform: capitalize;
}

p {
    color: #5705AD;
    font-family: 'Istok Web', sans-serif;
    font-size:  1em;
    font-weight:  400;
    letter-spacing: 3px;
}

/*******  END ABOUT PAGE ********/

/***** CONTACT PAGE ******/
/*.svg-animation {*/
/*    height: 24%;*/
/*}*/
/*.webcoderskull-contact {*/
/*    font-size: 0.6em;*/
/*}*/

/*.text--line-contact {*/
/*    font-size: 0.5em;*/
/*}*/
section {
    background: black;
}
.contact-page {
    background-color: black;
    color: #1b8798;
}

.contact-para {
    color: #d61c59;
    font-size: 1.35em;
}

/********** FORM **********/
form {
    position: relative;
    width: 100%;
}
.form-group {
    color: #5705AD;
    margin-left: 50px;
    padding-left: 30px;
}

.col-sm-10, .form-group-row {
    padding-right:  300px;
 }

.btn-submit {
    background: #d61c59;
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: 610px;
    padding-bottom: 10px;
}
/********** END FORM **********/
footer {
    background:  #FAFAD2;

}
footer, .contact-footer {
     height: 100%;
}
/********** END CONTACT PAGE *********/
