/* Font used for Monogram Allura, can use Alex Brush if needed*/
/* camaro color #444D53*/
/*font-family: 'Allura', cursive;*/
/*font-family: 'Istok Web', sans-serif;*/
/** {*/
/*    border: 1px solid red;*/
/*}*/
html,
body {
    background: #fff;
    font-family: 'Istok Web', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/******* NAVIGATION *******/
.navbar {
    background-color: rgb(250, 250, 210);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: smaller;
    line-height: 1em;
}

a {
    color: rgb(87, 5, 173);
}

a:hover {
    color: rgb(135, 206, 250);
}

a.navbar-brand {
    color: rgb(87, 5, 173) ! important;
    font-family: Allura, cursive, sans-serif;
    font-size: 45px;
    margin-top: 10px;
}

a.navbar-brand:hover {
    color: rgb(135, 206, 250) ! important;
}

li.nav-item {
    font-family: Allura, cursive, sans-serif;
    font-size: 2.25rem;
    padding: 25px;
}
/********* END NAVIGATION *********/

/***** JUMBOTRON ANIMATION ******/

.webcoderskull {
    font-size: 0.5em;
}

svg {
    position: absolute;
    width: 100%;
    height:   90.85%;
    background: #000;
    background-size: 0.12em 100%;
    font: 16em/1 'Allura', cursive, sans-serif;
}

.webcoderskull-1 {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 7%, 28%;
    stroke-width: 4px;
    -webkit-animation: stroke-offset  3s infinite;
    animation: stroke-offset  9s  ease-in infinite ;
}
.webcoderskull-1:nth-child(1) {
    stroke: rgb(138, 43, 226);
    stroke-dashoffset: 7%;
}
.webcoderskull-1:nth-child(2) {
    stroke: rgb(214, 28, 89);
    stroke-dashoffset: 14%;
}
.webcoderskull-1:nth-child(3) {
    stroke: rgb(231, 216, 75);
    stroke-dashoffset: 21%;
}
.webcoderskull-1:nth-child(4) {
    stroke: rgb(239, 234, 197);
    stroke-dashoffset: 28%;
}
.webcoderskull-1:nth-child(5) {
    stroke: rgb(27, 135, 152);
    stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
    50% {
        stroke-dashoffset: 30%;
        stroke-dasharray: 0, 72.5%;
    }
}

@keyframes stroke-offset {
    50% {
        stroke-dashoffset: 30%;
        stroke-dasharray: 0, 72.5%;
    }
}
/***** END JUMBOTRON ANIMATION ******/

/*******  ABOUT PAGE ********/
.bg-img-1 {
    background-image: url("../img/bg13.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:  0.65;
    position: relative;
    min-height:  100%;
}

.bg-img-2 {
    /*woman -sitting-copy.png*/
    background-repeat: no-repeat;
    background-position: center;
    min-height:  220px;
    margin-left:  550px;
    margin-top:  250px;
    position:  absolute;
}

.caption {
    font-family: 'Istok Web', sans-serif;
    font-size:  2em;
    letter-spacing:  2px;
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    color: rgb(214, 28, 89);
    margin-left:  42px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-family: 'Allura', cursive;
}

h3.about-page-1 {
    color: rgb(87, 5, 173);
    font-size: 3em;
    letter-spacing: 5px;
    text-transform: capitalize;
    padding-top:  50px;
}

h3.about-page-2 {
    color: rgb(87, 5, 173);
    font-size: 3em;
    letter-spacing: 5px;
    text-transform: capitalize;
    margin-top: 50px;
}

p.about-para-1,
p.about-para-2 {
    color: #fff;
    font-family: 'Istok Web', sans-serif;
    font-size:  1em;
    font-weight:  400;
    letter-spacing: 3px;
}

.bg-img-3 {
    background-image: url("../img/profile-copy-2.jpg");
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: center;
    background-size: 370px;
    background-repeat: no-repeat;
    min-height: 410px;
    opacity:  1.05;
    position: relative;
}

.bg-img-4 {
    background-image:  url("../img/me-holly-copy-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size:  300px;
    margin-left: 10px;
    min-height:  380px;
    opacity:  1.05;
    padding-top: 25px;
    position: relative;
}

.bg-img-5 {
    background-image: url("../img/bloo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  400px;
    margin-left: 100px;
    min-height:  600px;
    opacity:  1.05;
    position: relative;
}

.bg-img-6 {
    background-image: url("../img/276294-unsplash.jpg");
    background-attachment:  fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 55px;
    opacity:  0.95;
    position: relative;
}

h3.about-page-3 {
    color: rgb(91, 186, 230);
    font-size: 3em;
    font-weight:  bold;
    letter-spacing: 5px;
    text-transform: capitalize;
    padding-top: 46px;
}

p.about-para-3  {
    color: #000;
    font-family: 'Istok Web', sans-serif;
    font-size:  1em;
    font-weight:  400;
    letter-spacing: 3px;
}

.bg-img-2-2 {
    /*woman -sitting-copy.png*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 220px;
    margin-left: 550px;
    margin-top: 450px;
    position: absolute;
}

p.about-copyright {
    color: rgb(27, 135, 152);
    letter-spacing: normal;
    margin-top: 200px;
    margin-right: 20px;
}

/*******  END ABOUT PAGE ********/

/***** PORTFOLIO ******/
/*main,*/
/*.main-portfolio {*/
/*    background: aliceblue;*/
/*}*/

.project {
    color: rgb(87, 5, 173);
    font-family: Allura,cursive,sans-serif;
    font-size: 3.6em;
    font-weight: bolder;
    text-transform: capitalize;
}

h3.project {
    padding-top: 45px;
}

p.project-para {
    color: rgb(214, 28, 89);
    font-family: 'Istok Web', sans-serif;
	padding-top: 20px;
}

/***** Gallery Cards ******/

p.card-text {
    color: #000;
}

/***** End Gallery Cards ******/

.portfolio-footer {
    margin-top: 500px;
    width: 100%;
}
/*******  END PORTFOLIO PAGE ********/

/***** CONTACT PAGE ******/
main,.main-contact,
footer,.main-footer {
    background: #000;
}

h2.contact-page {
    color: rgb(27, 135, 152);
    padding-top:  80px;
}

p.contact-para {
    color: rgb(214, 28, 89);
    font-size: 1.30em;
    margin-left: 20px;
    padding-top: 20px;
}

/********** FORM **********/
form {
    position: relative;
    width: 100%;
}

.form-group {
    color: rgb(27, 135, 152);
    margin-left: 30px;
    padding-left: 30px;
}

.full-name {
    margin-top:  50px;
    margin-left:  222px;
}

.email, .message {
    margin-left:  222px;
}

small {
    font-size: 100%;
}

.valid-feedback {
    color: #008000;
}

.invalid-feedback {
    color: #ff0000;
}

.btn {
    background: rgb(91, 186, 230);
    color: rgb(138, 43, 226);
    margin-left: 505px;
    margin-bottom: 20px;
}
/********** END FORM **********/
/********** END CONTACT PAGE *********/

/********** FOOTER  **********/
.social-media {
    color: rgb(239, 234, 197);
    padding-top: 55px;
    margin-left: 53px;
}

span.fab,
span.fas {
    margin-top: 50px;
}

#facebook {
    color: rgb(27, 135, 152);
    margin-left: 220px;
    margin-bottom: 10px;
}

#twitter {
    color: rgb(91, 186, 230);
    margin-left: 210px;
}

#envelope {
    color: rgb(231, 216, 75);
    margin-left: 210px;
}

p.copyright  {
    color: rgb(250, 250, 210);
    letter-spacing: normal;
    margin-left: 372px;
    padding-left: 15px;
    margin-top: 58px;
}

p.w3c {
    margin-top: 45px;
    margin-left: 50px;
}
/********** END FOOTER  **********/

/********  MEDIA QUERIES *********/
/*Turn off parallax scrolling for tablets and phones */
@media (max-width: 1024px) {
    .bg-img-1, .bg-img-2, .bg-img-3, .bg-img-4, .bg-img-5, .bg-img-6 {
        background-attachment: scroll;
    }
}

